*.a
*.dSYM
*.o
*.s
*.so
.cache/
.pytest_cache/
build/
data/*.csv
strtod/benchmark2
strtod/bm7
strtod/pd7
strtod/test_exh
strtod/test_s2dc
vendor/googletest/make/gtest_main.a
vendor/googletest/make/sample1_unittest
